<footer class="light-grey-bg">
  <section class="section">
    <div class="columns">
      <div class="column">
        <img src="img/mavenaire-logo-nav.png" alt="MavenAire - Level Up Your Company" width="164" height="28">
        <div class="level pt-25">
          <div class="level-left">
            <div class="level-item">
              <a href="https://facebook.com/mavenaire">
                <span class="icon">
                  <i class="fab fa-facebook"></i>
                </span>
              </a>
            </div>
            <div class="level-item">
              <a href="https://instagram.com/mavenaire">
                <span class="icon">
                  <i class="fab fa-instagram"></i>
                </span>
              </a>
            </div>
            <div class="level-item">
              <a href="https://twitter.com/mavenaire">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <h6 class="footer-link-title">
          Services
        </h6>
        <ul>
          <li>
            <a href="#">Facebook Advertising</a>
          </li>
          <li>
            <a href="#">Instagram Advertising</a>
          </li>
          <li>
            <a href="#">Performance Marketing</a>
          </li>
          <li>
            <a href="#">Content Creation</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h6 class="footer-link-title">
          MavenAire
        </h6>
        <ul>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Free Consultation</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h6 class="footer-link-title">
          Visit Us
        </h6>
        <p>1601 Vine St Unit 7107</p>
        <p>Los Angeles, CA 90028</p>
        <ul>
          <li>
            <a href="tel:+19256289559">(925) 628-9559</a>
          </li>
          <li>
            <a href="https://goo.gl/maps/2HxJLagQ3Z92">Get Directions</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
