<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="img/mavenaire-logo-nav.png" alt="MavenAire - Level Up Your Company" width="164" height="28">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable is-boxed">
        <a class="navbar-link">
          Services
        </a>
        <div class="navbar-dropdown">
          <a href="#" class="navbar-item">
            <span class="icon">
              <i class="fab fa-facebook"></i>
            </span>
            <span>Facebook Ads</span>
          </a>
          <a href="#" class="navbar-item">
            <span class="icon">
              <i class="fab fa-instagram"></i>
            </span>
            <span>Instagram Ads</span>
          </a>
          <a href="#" class="navbar-item">
            <span class="icon">
              <i class="fas fa-chart-line"></i>
            </span>
            <span>Performance Marketing</span>
          </a>
          <a href="#" class="navbar-item">
            <span class="icon">
              <i class="fas fa-video"></i>
            </span>
            <span>Creative Services</span>
          </a>
        </div>
      </div>
      <a href="#" class="navbar-item">Case Studies</a>
      <a href="#" class="navbar-item">Resources</a>
      <a href="#" class="navbar-item">About Us</a>
      <a href="#" class="navbar-item nav-cta">
        <span>Level Up</span>
        <span class="icon">
          <i class="fas fa-level-up-alt"></i>
        </span>
      </a>
    </div>
  </div>
</nav>
